:host {
  display: block;
}

.eyebrow {
  display: block;

  margin-bottom: 7px;

  font-size: 0.76rem;
  font-weight: 700;

  text-transform: uppercase;
  letter-spacing: 0.09em;

  opacity: 0.62;
}
